In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [3]:
headers= {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
web_page=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [4]:
soup=BeautifulSoup(web_page,'lxml')

In [5]:
company=soup.find_all('div',class_='company-content-wrapper')

In [23]:
name=[]
ratings=[]
reviews=[]
c_type=[]
brances=[]
old=[]
emp=[]
for i in company:
    name.append(i.find('h2').text.strip())
    ratings.append(i.find('p',class_='rating').text.strip())
    reviews.append(i.find('a',class_='review-count').text.strip())
    c_type.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    brances.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    emp.append(i.find_all('p',class_='infoEntity')[3].text.strip())

In [28]:
data={'name':name,'rating':ratings,'Reviews':reviews,"company type":c_type,"headquater and brances":brances,"old":old,"employees":emp}
df=pd.DataFrame(data)

In [29]:
df.head()

,name,rating,Reviews,company type,headquater and brances,old,employees
0,TCS,3.9,(50k Reviews),Public,"Mumbai,Maharashtra + 276 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(32.5k Reviews),Public,Dublin + 142 more,33 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(29.8k Reviews),Private,Teaneck. New Jersey. + 99 more,28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(35k Reviews),Public,"Mumbai,Maharashtra + 1043 more",28 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(40k Reviews),Public,"Mumbai,Maharashtra + 1220 more",28 years old,1 Lakh+ Employees (India)

In [ ]:
final=pd.DataFrame()
for j in range(1,11):
    url=f'https://www.ambitionbox.com/list-of-companies?page={j}'
    headers= {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    web_page=requests.get(url,headers=headers).text
    soup=BeautifulSoup(web_page,'lxml')
    company=soup.find_all('div',class_='company-content-wrapper')
    

    name=[]
    ratings=[]
    reviews=[]
    company_type=[]
    for i in company:
        name.append(i.find('h2').text.strip())
        ratings.append(i.find('p',class_='rating').text.strip())
        reviews.append(i.find('a',class_='review-count').text.strip())
        company_type.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    
        
        
        data={'name':name,'rating':ratings,'Reviews':reviews,"company type":company_type}
        df=pd.DataFrame(data)
        final=final.append(df)